<?xml version="1.0"?>
<launch>
  <param name="use_sim_time" value="true"/>
  <arg name="sensor" default="xtion"/>
  <node pkg="image_transport" type="republish" name="republish_color" args="compressed in:=/kinect2/qhd/image_color_rect raw out:=/kinect2/qhd/image_color_rect"/>
  <node pkg="image_transport" type="republish" name="republish_depth" args="compressed in:=/kinect2/qhd/image_depth_rect raw out:=/kinect2/qhd/image_depth_rect"/>
  <arg name="dist" default="0"/>
  <arg name="cam" default="$(find ccmslam)/conf/caminfo_$(arg sensor)_cvg.yaml"/>

  <arg name="rgb_topic" default="/cam_0/rgb/image_rect_color"/>
  <arg name="depth_topic" default="/cam_0/depth_registered/sw_registered/image_rect"/>

  <group ns="ccmslam">

    <arg name="debug_client" default="false" />
    <arg unless="$(arg debug_client)" name="launch_prefix_client" value=" " />
    <arg if="$(arg debug_client)" name="launch_prefix_client" value="xterm -e gdb --args" />

    <node pkg="ccmslam" type="ccmslamClientNode" name="ccmslamClientNode0" args="$(find ccmslam)/conf/ORBvoc.txt $(arg cam)" output="screen" launch-prefix="$(arg launch_prefix_client)">

      <!-- ++++++++++++++++++++++++++++++++++++++++++++++ -->
      <!-- Agent Specific Params - !!!MUST BE ADJUSTED!!! -->

      <param name="~Sensor" type="string" value="RGBD" />
      <param name="~FrameId" type="string" value="odomC0" />
      <param name="~ClientId" type="int" value="0" />

      <param name="~map_frame_id" type="string" value="map_0" />
      <param name="~camera_frame_id" type="string" value="robot_base_0" />
      <param name="~TopicNameCamSub" type="string" value="$(arg rgb_topic)" />
      <param name="~DepthTopicName" type="string" value="$(arg depth_topic)" />

      <param name="~MapInTopicName" type="string" value="MapOutServer0" unless="$(arg dist)" />
      <param name="~MapInTopicName" type="string" value="MapOutServer0Disturbed" if="$(arg dist)" />

    </node>

  </group>

  <arg name="rosbag_path" default="/home/lxy/Datasets_ssd/xtion/xtion_2021-02-25-03-56-23.bag"/>

  <arg name="rosbag_skip_first_n_sec" default="20" doc="Skip the first n seconds of the rosbag." />
  <node name="player" pkg="rosbag" type="play" output="screen" args="-r 1.0 -q -s $(arg rosbag_skip_first_n_sec) --clock $(arg rosbag_path)" />

</launch>

